<header id="top-header">
    <img src="/images/site/icon.png" alt="Site Logo" width="65" height="50">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div>
        <span class="account">
            <a title="Click to log in" href="/account/login">MY ACCOUNT</a>
        </span>
    </div>
</header>
