<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<img class="image" src="../images/vehicles/adventador.jpg" alt="Hero Image">
<div class="top-button">
    <h2>DMC Dolerean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <a href="#" title="Own One Today"><img src="../images/site/own_today.png" alt="CTA Button"></a>
</div>
<div class="display">
    <div class="images">
       <h3>Delorean Upgrades</h3>
       <div>
         <figure>
           <img src="../images/upgrades/flux-cap.png" alt="Flux Capicitor">
           <figcaption><a href="#">Flux Capicitor</a></figcaption>
         </figure>
         <figure>
           <img src="../images/upgrades/flame.jpg" alt="Flame Image">
           <figcaption><a href="#">Flame Decals</a></figcaption>
         </figure>
         <figure>
           <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
           <figcaption><a href="#">Bumper Stickers</a></figcaption>
         </figure>
         <figure>
           <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps">
           <figure><a href="#">Hub Caps</a></figure>
         </figure>
       </div>
    </div>
    <div class="information">
        <h3>DMC Dolerean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." ⭐(4/5)</li>
            <li>"Coolest ride on the road." ⭐(4/5)</li>
            <li>"I'm feeling McFly!" ⭐(4/5)</li>
            <li>"The most futuristic ride of our day." ⭐(4.5/5)</li>
            <li>"80's livin and I love it!" ⭐(5/5)</li>
        </ul>
    </div>
</div>